* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #62BFE8;
    font-family: 'Andada', serif;
} 

.container {
    border: 1px solid black;
    width: 300px;
    height: 460px;
    background-color: #FCFDFD;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin-left: 40%;
    margin-top: 10%;
}

.container__top {
    height: 200px;
    background-image: url(./DCLBlog_SGS_5587_Trunk-Cay-at-Trunk-Bay-St-John-USVI.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container__top__price {
    color: #FCFDFD;
    background-color: #E4747C ;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    padding: 15px;
    margin-left: 15px;
    margin-bottom: 80px;
    margin-top: 15px;
}

.container__top__popular {
    color: #FCFDFD;
    background-color: #62BFE8;
    width: 70px;
    height: 25px;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    margin-left: 15px;
    padding-top: 5px;
    margin-bottom: 15px;
    text-transform: uppercase;
  
}

.container__bottom {
    margin: 20px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.container__bottom__title {
    color: #504D37;
    font-size: 21px;
}

.container__bottom__info {
    color: rgb(161, 154, 150);
    font-size: 15px;
}

.container__bottom__days {
    height: 44px;
    width: 44px;
    color: #FCFDFD;
    background-color: #D8D3D1;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
    padding-top: 2px;
}

hr {
    width: 265px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.container__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 25px;
    color: #D8D3D1 ;
}

.far {
    margin-left: 20px;
}
